<h1>Kicker Raffle</h1>

<div ng-controller="RaffleCtrl">
	<form ng-submit="addEntry()">
		<input type="text" ng-model="newEntry.name">
		<input type="submit" value="Add">
	</form>

	<ul>
		<li ng-repeat="entry in entries">
			{{entry.name}}
			<span ng-show="entry.winner" ng-class="{highlight: entry = lastWinner}" class="winner">	SPIELT
			</span>
		</li>
	</ul>

	<button ng-click="drawWinner()">Wer Spielt?</button>
</div>

