<!DOCTYPE html>
<html ng-app="Raffler">
<head>
  <title>Raffler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="container">
 	<%= yield %>
 </div>
</body>
</html>
